.dog-form-component-wrapper {
  display: flex;
  @include mq-max(800px) {
    display: block;
  }
  box-shadow: $box-shadow;
  padding: 15px;

  .preview-img-wrapper {
    flex: 1;
  }
  .form-content {
    flex: 1;
    display: grid;
    @include flex($d: column, $j: space-between);
    padding: 15px;
    .dog-form-info-fieldset {
      @include flex($d: column, $g: 10px);
      label {
        font-size: medium;
        font-weight: 600;
        @include flex($d: column);
        span {
          width: 20%;
        }
        input,
        textarea {
          font-family: $font-family;
          font-size: medium;
          width: 50%;
          @extend %inputStyles;
          box-shadow: 0px 0px 0px 1px $black;
          border-radius: 5px;
          &:hover {
            box-shadow: 0px 0px 2px 1px $lightblue;
          }
        }
        textarea {
          height: 80px;
          width: 100%;
        }
      }
    }

    input[type="text"] {
      text-transform: capitalize;
    }
    .stepper-content {
      padding: 10px;
      flex: 2;
    }
  }
  .form-step-content-wrapper {
    border: 1px solid rgba(95, 111, 254, 0.3);
    background-color: hsl(0, 11%, 98%);
    border-radius: 3px;
    padding: 10px 5px;
  }
  .form-step-content {
    height: 350px;
  }

  .submit-btn-wrapper {
    width: 90%;
    margin: 10px auto;
    .submit-btn {
      height: 50px;
      width: 100%;
      @extend %btn-primary;
      span {
        transition: $transition;
      }
      .textOne {
        display: block;
      }
      .textTwo {
        display: none;
      }
      &:hover {
        background-color: $green;
        .textOne {
          display: none;
        }
        .textTwo {
          display: block;
        }
      }
    }
  }
}
.form-step {
  margin: 20px 5px;
  .form-step-header {
    // border-bottom: 3px solid $blue;
    .step-title {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-size: large;
      text-transform: uppercase;
      font-weight: bold;
      color: $white;
      border-bottom: 3px solid $blue;
      background-color: $blue;
      min-height: 45px;
      @include flex($c: center);
    }
  }

  .step-navbar-ul {
    list-style: none;
    padding: 0;
    @include flex($c: center);
    .step-navbar-li {
      flex: 1;

      button {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: all 0.3s ease;
        flex: 1;
        width: 100%;
        border: 3px solid transparent;
        background-color: #f4f4f4;
        span {
          flex: 1;
          color: black;
          @include flex($d: column, $a: center, $j: stretch);
        }
        @include flex($a: center, $g: 10px, $c: column);
        &:hover {
          background-color: hsl(0, 0%, 90%);
          border-bottom: 3px solid $orange;
        }
        .dog-icon {
          aspect-ratio: 1/1;
          height: 45px;
          fill: black;
          stroke: black;
        }
      }
      .active {
        background-color: $blue;
        color: white;
        border-color: $blue;
        border-bottom: 3px solid $yellow;
        &:hover {
          background-color: $blue-hover;
          border-color: $blue-hover;
          border-bottom: 3px solid $orange;
        }
        @include focus {
          outline: 2px solid transparent;
          border-top-color: $orange;
          border-left-color: $orange;
          border-right-color: $orange;
        }
        span {
          color: white;
        }
        .dog-icon {
          fill: white;
          stroke: white;
        }
      }
    }
  }
}
.prev-next-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  button {
    @extend %btn-primary;
    background-color: $blue;
    width: 100px;

    div {
      @include flex($a: center);
      padding: 0 5px;
    }
    &:hover {
      background-color: $blue-hover;
      .arrow-icon--inner {
        fill: transparent;
      }
      .arrow-icon--outer {
        fill: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .arrow-icon {
    // border: 2px solid hotpink;
    // flex: 1;
    margin: 0 5px;
    height: 25px;
    width: 25px;
  }
  .arrow-icon--inner {
    fill: $white;
  }
  .arrow-icon--outer {
    fill: $blue-hover;
  }
  .prev {
    grid-column: 1;
    justify-self: start;
  }
  .next {
    grid-column: 2;
    justify-self: end;
  }
  .isShowing {
    display: block;
  }
  .notShowing {
    display: none;
  }
}
