.hero {
  @include flex($d: column, $a: center);
  .hero-inner {
    // border: 1px solid black;
    // box-shadow: $box-shadow;
    // box-shadow: ;
    margin-top: 55px;
    padding: 20px;
    max-width: 600px;
    position: relative;
    background: white;
    border-radius: 50px;
  }
}
.hero-inner:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  transform: translate3d(2px, 6px, 0) scale(0.97);
  filter: blur(24px);
  opacity: var(0.55);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.hero-inner::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

h1 {
  text-align: center;
}
.sparkle-wrapper {
  height: 250px;
  @include flex($d: column, $a: center, $j: space-evenly);
  .sparkle {
    opacity: 0;
  }
  &:hover {
    .sparkle {
      opacity: 1;
    }
  }
  a {
    background-color: $blue;
    color: $white;
    @include fillLeftToRight($blue, $blue-hover);
    transition: all 0.5s;
    border-radius: 5px;
    padding: 25px 35px;
    &:hover {
      border: 2px solid $blue;
    }
    @include focus {
      outline: 2px solid $blue;
      border-radius: 5px;
      outline-offset: 2px;
    }
  }
}
h2 {
  border-top: 2px solid $blue;
  padding-top: 10px;
}
.hero-link-inText {
  color: $blue;
  font-weight: 500;
  padding: 2px 5px;
  @include fillLeftToRight($white, $blue);
  &:hover {
    color: white;
    text-decoration: 2px solid underline hotpink;
  }
}
.hero-preview {
  @include flex($c: center);
  .dog-preview {
    background-color: transparent;
  }
}
