.hero {
  .hero-inner {
    margin: 20px;
    margin-top: 55px;
    padding: 20px;
    position: relative;
    background: white;
    border-radius: 50px;
    max-height: 50vh;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
      filter: blur(24px);
      opacity: var(0.55);
      transition: opacity 0.3s;
      border-radius: inherit;
    }
  }
}
.hero-h1 {
  display: flex;
  .h1-stars {
    font-size: xx-large;
  }
}
h1 {
  text-align: center;
  // white-space: nowrap;
}
h2 {
  border-top: 2px solid $blue;
}
.sparkle-wrapper {
  text-align: center;
  .sparkles-btn {
    width: 150px;
    height: 55px;
    border-radius: 5px;
    background-color: $green;
    border-color: $blue;
    @extend %inputStyles;
    @include fillLeftToRight($blue, $blue-hover);
    margin: auto;
    .hero-btn {
      color: white;
      height: 100%;
      @include flex($c: center);
      width: 100%;
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 3px;
      transition: $transition;
      display: flex;
      &:hover {
        text-decoration: 2px solid underline $pink;
        text-underline-offset: 3px;
      }
    }
  }
  .sparkle {
    opacity: 0;
  }
  &:hover {
    .sparkle {
      opacity: 1;
    }
  }
}

.hero-link-inText {
  color: $blue;
  font-weight: 500;
  padding: 2px 5px;
  @include fillLeftToRight($white, $blue);
  &:hover {
    color: white;
    text-decoration: 2px solid underline hotpink;
  }
}
.hero-preview {
  width: 350px;
  margin: 35px auto;
  .dog-preview {
    background-color: transparent;
  }
}

.hero-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  .dog-preview:nth-child(1n) {
    background-color: var(--colors-offwhite);
  }
  .dog-preview:nth-child(2n) {
    background-color: $lightblue;
  }
  .dog-preview:nth-child(4n) {
    background-color: $pink;
  }
  .dog-preview:nth-child(5n) {
    background-color: $orange;
  }
  @include mq-sm {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
