.hero {
  margin: 0 auto;
  width: 100vw;
  height: 90vh;
  /* background-image: url('../../assets/images/tiny-dog.JPG'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hero-section {
  background-color: var(--colors-white);
  min-height: 30vh;
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 8px;
}
.hero h2 {
  margin-top: 0;
  font-weight: 400;
}
.hero-btn {
  flex: 1;
  border-radius: 8px;
  display: flex;
  background-color: var(--colors-green-d);
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  text-decoration-color: transparent;
  color: rgb(254, 208, 0);
  font-weight: bolder;
}
.hero-btn:hover {
  background-color: var(--colors-lightblue);
  color: var(--colors-green-d);
  text-decoration-style: wavy;
  text-decoration-color: hotpink;
  text-underline-offset: 3px;
  color: hotpink;
  text-decoration-color: var(--colors-green-d);
}
.hero-btn:focus-within {
  outline: dashed var(--colors-blue) 2px;
}
