.resume {
  font-family: "Nunito";
  margin: 15px;
  --qr-size: 150px;
  --icon-size: 25px;
  --padding-xxl: 50px;
  --padding-xl: 40px;
  --padding-lg: 20px;
  --padding-md: 15px;
  --padding-sm: 10px;
  --font-weight-heading-lg: 800;
  --font-weight-heading-md: 800;
  --font-weight-heading-md: 800;
  --divider: 1px solid #151515;
}

.social-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.resume {
  margin: 30px auto;
  max-width: 1200px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header socials "
    "divider divider divider divider"; */
}
.resume-top {
  display: flex;
}
.resume-divider {
  grid-area: divider;
  border-top: var(--divider);
  display: grid;
  grid-template-columns: 60vw auto;
  grid-template-areas: "main sidebar";
}
.resume-summary {
  border-bottom: var(--divider);
}
.resume-divider div {
  padding: 15px;
}
.resume-main {
  grid-area: main;
}
.resume-sidebar {
  border-left: var(--divider);
  grid-area: sidebar;
}
.resume-header {
  display: grid;
  grid-template-columns: min-content min-content max(20ch);
  gap: 2rem;
  align-items: end;
}
.resume-header-name {
  font-size: larger;
}
.resume-header-description {
  font-size: smaller;
}
.resume-header-divider {
  border-left: var(--divider);
  align-self: stretch;
}
.resume-socials {
  flex: 1;
}
.resume-socials ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
}
.resume-socials a {
  display: flex;
  flex: 1;
  gap: 5px;
  text-decoration: none;
  align-items: baseline;
}
.resume-qr {
  width: var(--qr-size);
  height: var(--qr-size);
  background-color: var(--colors-lightgrey);
  aspect-ratio: 1/1;
}

.resume ul {
  padding: 0;
}
.resume h1,
.resume h2,
.resume h3 {
  text-transform: uppercase;
}

.resume-experience .rs-inner-list,
.resume-history .rs-inner-list {
  list-style-type: disc;
  padding-left: var(--padding-lg);
}
@media only screen and (max-width: 1200px) {
  .resume {
    margin: 30px auto;
    width: 100vw;
    max-width: 100vw;
  }
}
@media only screen and (max-width: 950px) {
  .resume {
    margin: 30px auto;
    max-width: 100vw;
    display: block;
  }
  .resume-header {
    display: block;
    margin: 0 auto;
  }
  .resume-header-section {
    gap: 0.5ch;
    flex-direction: row;
    justify-content: center;
  }

  .resume-socials ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .resume-socials ul a {
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .resume-divider {
    border-top: var(--divider);
    display: flex;
    flex-direction: column-reverse;
  }
  .resume-qr {
    display: none;
  }
  .resume-skills h2,
  .resume-skills h3 {
    text-align: center;
  }

  .resume-skills .rs-outer-list {
    display: flex;
    justify-content: space-around;
  }
  .resume-skills .rs-inner-list {
    columns: 2;
  }
}

@media only screen and (max-width: 700px) {
  .resume-skills .rs-inner-list {
    columns: unset;
  }
}
@media only screen and (max-width: 400px) {
  .resume-skills h2,
  .resume-skills h3 {
    text-align: left;
  }
  .resume-skills .rs-outer-list {
    display: block;
  }
}
