.dog-gallery--cards {
  @include flex($w: wrap, $g: 15px);
  margin: 15px;
  padding: 15px;
}
.dog-card {
  @include flex($d: column, $a: stretch, $g: 5px);
  flex: 1;
  min-width: 300px;
  max-width: 360px;
  position: relative;
  border-radius: 5px;
  box-shadow: $box-shadow;
  padding: 10px;
  margin: auto;
  .dog-card-media {
    position: relative;
    .dog-card-media--overlay-bg {
      @include size($both: 100%);
      @include positioning(all);
      background-color: rgba(000, 000, 000, 0);
    }
    .dog-card-media--overlay-link {
      flex: 0;
      color: transparent;
      line-height: 0;
      .dog-card-media--overlay-link-text {
        @include positioning(all);
        @include flex($c: center);
      }
      &::after {
        @include size($both: 100%);
        @include positioning(all);
        content: "";
        background-color: transparent;
      }
    }
    &:hover {
      .dog-card-media--overlay-bg {
        background-color: rgba(000, 000, 000, 0.7);
      }
      .dog-card-media--overlay-link-text {
        color: white;
        .dog-name {
          padding: 0 5px;
          text-decoration: underline var(--colors-blue) 2px;
        }
      }
    }
  }

  .dog-card-bottom {
    text-align: center;
    h1,
    h2,
    h3,
    h4 {
      padding: 0;
    }
    .dog-card-bottom--btns {
      @include flex;
      .dog-card-bottom--btns-btn {
        display: inline;
        z-index: 9;
        flex: 1;
        @extend %btn-primary;
        a {
          color: white;
          width: 100%;
          height: 100%;
          @include flex($c: center);
          text-decoration: none;
        }
      }
    }
  }
}
.dog-preview {
  position: relative;
  background-color: aliceblue;
  aspect-ratio: 1/1;
  img,
  svg {
    position: absolute;
  }
  .preview-img-accessory {
    @include size($both: 100%);
    @include positioning(all);
  }
}
