/*==========================
Sidebar navigation
========================*/

header {
  display: flex;
  justify-content: space-between;
  /* background-color: palegoldenrod; */
}
.nav-logo {
  flex: 2;
  text-decoration: none;
}
.navbar {
  flex: 1;
  position: relative;
  /* background-color: #005bb3; */
  width: 100%;
  width: fit-content;
  height: 45px;
  display: flex;
}
.navbar .toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  outline-color: transparent;
  color: black;
}
.menu-nav {
  font-size: 18px;
  z-index: 9;
  height: fit-content;
  white-space: nowrap;
  padding: 0px;
  width: 0;
  position: fixed;
  top: 36px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: var(--colors-yellow);
  background-color: white;
}
.menu-nav.show-menu {
  width: 50%;
  background-color: #fafafa;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}

.menu-nav li a,
.menu-nav li span {
  display: block;
  padding: 1rem;
  margin: 10px 20px;
  border-radius: 8px;
  text-decoration-color: transparent;
  text-decoration: 1px solid underline;
  background-color: rgba(255, 255, 255, 1);
  text-underline-offset: 1.5px;
  border: 1px dotted transparent;
  color: black;
}
.menu-nav li:hover a {
  transition: background 0.3s;
  text-decoration: 2px solid underline var(--currColor);
  box-shadow: 0 0 0.5px 1px var(--currColor);
}
.menu-nav .navlink--active {
  text-decoration: 2px solid underline var(--currColor);
}
.menu-nav li:focus a,
.menu-nav li:focus-visible a,
.menu-nav li:focus-within a {
  outline: 1px dashed var(--currColor);
  background-color: var(--currColor);
}
